NodeRed/AutoLock
[{"id":"fb3d7f7d.6aa83","type":"subflow","name":"Door Auto Lock","info":"# **AutoLock**\n\n## **Configuration:**\n\n**LockEntityID**\n\nEntitiyID for the lock\n\n_example:_\n\n`lock.fron_door`\n\n**DoorSensorEntityID**\n\nEntityID for the door sensor\n\n_example:_\n\n`binary_sensor.openclose_frontdoor`\n\n**AutoLockOverrideEntityID**\n\nEntityID for an input boolean to function as a Auto Lock override\n\n_example:_\n\n`input_boolean.autolock`\n\n**DoorName**\n\nA name for the door\n\n_example:_\n\n`Front Door`\n\n**Delay**\n\nTime delay before the door auto locks\n\n_example:_\n\n`5`\n\n\n## **Outputs**\n\n**Output 1** will output a string to msg.message when the lock sucessfully locks\n\n_example:_\n\n`Front Door Auto Locked`\n\n**Output 2** will output a string to msg.message when the lock fails to lock, or when the door is left open\n\n_example:_\n\n`Front Door Failed to lock`\n`Front Door Was Left Open`\n\n\n## **Details**\nWhen the door is unlocked a timmer starts counting down to lock it, if the door is opened the timer is reset.\nIf the AutoLock input boolean is turned off or the door is manually locked the timmer is stopped.\nIf the door is open when the timer goes off, the door is locked as soon as it is closed. If the door is not closed within 30 second of the timmer going off msg.message is output on output two stating the door was lest open and the timmer stops.","category":"","in":[],"out":[{"x":1580,"y":160,"wires":[{"id":"d8b0778.df82a88","port":0}]},{"x":1580,"y":220,"wires":[{"id":"238a0401.8df84c","port":0},{"id":"dc7c30a3.e4fc8","port":0}]}],"env":[{"name":"LockEntityID","type":"str","value":"lock.lock_front_door_lock"},{"name":"DoorSensorEntityID","type":"str","value":"binary_sensor.openclose_21"},{"name":"AutoLockOverrideEntityID","type":"str","value":"input_boolean.autolock"},{"name":"DoorName","type":"str","value":"Front Door"},{"name":"Delay","type":"num","value":"5"}],"color":"#3FADB5","outputLabels":["msg.message output door locked","msg.message output failed to lock"],"icon":"font-awesome/fa-lock"},{"id":"f634dff0.db0c9","type":"trigger-state","z":"fb3d7f7d.6aa83","name":"Lock","server":"6c60af43.060d1","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"${LockEntityID}","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":4,"customoutputs":[{"outputId":"eikgtm4l7w","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"unlocked"},{"outputId":"dtx23fgd62","messageType":"custom","messageValue":"{\"payload\":\"reset\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"locked"}],"outputinitially":false,"state_type":"str","x":230,"y":100,"wires":[[],[],["a97abd1.16bcc4"],["145514bc.69b2ab"]]},{"id":"145514bc.69b2ab","type":"trigger","z":"fb3d7f7d.6aa83","op1":"","op2":"lock door","op1type":"nul","op2type":"str","duration":"${Delay}","extend":true,"units":"min","reset":"reset","bytopic":"all","name":"","x":740,"y":160,"wires":[["427d6ae0.685644"]]},{"id":"f6d26429.70ea38","type":"trigger-state","z":"fb3d7f7d.6aa83","name":"Door Sensor","server":"6c60af43.060d1","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"${DoorSensorEntityID}","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"4esby18agv4","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"on"}],"outputinitially":false,"state_type":"str","x":210,"y":180,"wires":[[],[],["145514bc.69b2ab"]]},{"id":"a97abd1.16bcc4","type":"api-current-state","z":"fb3d7f7d.6aa83","name":"AutoLock","server":"6c60af43.060d1","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"${AutoLockOverrideEntityID}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":80,"wires":[[],["145514bc.69b2ab"]]},{"id":"bf218687.094d28","type":"trigger-state","z":"fb3d7f7d.6aa83","name":"AutoLock","server":"6c60af43.060d1","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"${AutoLockOverrideEntityID}","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":4,"customoutputs":[{"outputId":"62gp6mgo2nx","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"on"},{"outputId":"gibbozjtlyn","messageType":"custom","messageValue":"{\"payload\":\"reset\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"off"}],"outputinitially":false,"state_type":"str","x":220,"y":300,"wires":[[],[],["4804a813.70f478"],["145514bc.69b2ab"]]},{"id":"fe797297.9f90f","type":"api-call-service","z":"fb3d7f7d.6aa83","name":"Lock Door","server":"6c60af43.060d1","version":1,"debugenabled":false,"service_domain":"lock","service":"lock","entityId":"${LockEntityID}","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1190,"y":160,"wires":[["9c28450a.8b93b8"]]},{"id":"4804a813.70f478","type":"api-current-state","z":"fb3d7f7d.6aa83","name":"Check State","server":"6c60af43.060d1","version":1,"outputs":2,"halt_if":"unlocked","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"${LockEntityID}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":220,"wires":[["145514bc.69b2ab"],[]]},{"id":"d8b0778.df82a88","type":"change","z":"fb3d7f7d.6aa83","name":"Sucessfuly Locked","rules":[{"t":"set","p":"message","pt":"msg","to":"${DoorName} Auto Locked","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":160,"wires":[[]]},{"id":"427d6ae0.685644","type":"ha-wait-until","z":"fb3d7f7d.6aa83","name":"Wait for door to be closed","server":"6c60af43.060d1","outputs":2,"entityId":"${DoorSensorEntityID}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"1","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":970,"y":160,"wires":[["fe797297.9f90f"],["dc7c30a3.e4fc8"]]},{"id":"9c28450a.8b93b8","type":"ha-wait-until","z":"fb3d7f7d.6aa83","name":"","server":"6c60af43.060d1","outputs":2,"entityId":"${LockEntityID}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"locked","valueType":"str","timeout":"30","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1180,"y":220,"wires":[["d8b0778.df82a88"],["238a0401.8df84c"]]},{"id":"238a0401.8df84c","type":"change","z":"fb3d7f7d.6aa83","name":"Failed to lock","rules":[{"t":"set","p":"message","pt":"msg","to":"${DoorName} Failed to Lock","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":220,"wires":[[]]},{"id":"dc7c30a3.e4fc8","type":"change","z":"fb3d7f7d.6aa83","name":"Door left open","rules":[{"t":"set","p":"message","pt":"msg","to":"${DoorName} Left Open","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":280,"wires":[[]]},{"id":"6c60af43.060d1","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
