NodeRed/AutoLock
[{"id":"fb3d7f7d.6aa83","type":"subflow","name":"Door Auto Lock","info":"# **AutoLock**\n\n## **Configuration:**\n\n**LockEntityID**\n\nEntitiyID for the lock\n\n_example:_\n\n`lock.fron_door`\n\n**DoorSensorEntityID**\n\nEntityID for the door sensor\n\n_example:_\n\n`binary_sensor.openclose_frontdoor`\n\n**AutoLockOverrideEntityID**\n\nEntityID for an input boolean to function as a Auto Lock override\n\n_example:_\n\n`input_boolean.autolock`\n\n**DoorName**\n\nA name for the door\n\n_example:_\n\n`Front Door`\n\n**Delay**\n\nTime delay before the door auto locks\n\n_example:_\n\n`5`\n\n\n## **Outputs**\n\n**Output 1** will output a string to msg.message when the lock sucessfully locks\n\n_example:_\n\n`Front Door Auto Locked`\n\n**Output 2** will output a string to msg.message when the lock fails to lock, or when the door is left open\n\n_example:_\n\n`Front Door Failed to lock`\n`Front Door Was Left Open`\n\n\n## **Details**\nWhen the door is unlocked a timmer starts counting down to lock it, if the door is opened the timer is reset.\nIf the AutoLock input boolean is turned off or the door is manually locked the timmer is stopped.\nIf the door is open when the timer goes off, the door is locked as soon as it is closed. If the door is not closed within 30 second of the timmer going off msg.message is output on output two stating the door was lest open and the timmer stops.","category":"","in":[],"out":[{"x":1760,"y":380,"wires":[{"id":"d8b0778.df82a88","port":0}]},{"x":1760,"y":440,"wires":[{"id":"238a0401.8df84c","port":0},{"id":"dc7c30a3.e4fc8","port":0}]}],"env":[{"name":"DoorName","type":"str","value":"Front Door","ui":{"label":{"en-US":"Door Name"},"type":"input","opts":{"types":["str"]}}},{"name":"LockEntityID","type":"str","value":"lock.lock_front_door_lock","ui":{"label":{"en-US":"Lock Entity ID"},"type":"input","opts":{"types":["str"]}}},{"name":"DoorSensorEntityID","type":"str","value":"binary_sensor.openclose_21","ui":{"label":{"en-US":"Sensor Entity ID"},"type":"input","opts":{"types":["str"]}}},{"name":"AutoLockOverrideEntityID","type":"str","value":"input_boolean.autolock","ui":{"label":{"en-US":"Override Entity ID"},"type":"input","opts":{"types":["str"]}}},{"name":"Delay","type":"num","value":"5","ui":{"label":{"en-US":"Delay Time"},"type":"input","opts":{"types":["num"]}}}],"color":"#3FADB5","outputLabels":["msg.message output door locked","msg.message output failed to lock"],"icon":"font-awesome/fa-lock","status":{"x":880,"y":620,"wires":[{"id":"82305c8.6f318a","port":0}]}},{"id":"f634dff0.db0c9","type":"trigger-state","z":"fb3d7f7d.6aa83","name":"Lock","server":"6c60af43.060d1","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"${LockEntityID}","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ybdyqiyeyx8","targetType":"entity_id","targetValue":"${AutoLockOverrideEntityID}","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":4,"customoutputs":[{"outputId":"eikgtm4l7w","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"unlocked"},{"outputId":"dtx23fgd62","messageType":"custom","messageValue":"{\"payload\":\"reset\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"locked"}],"outputinitially":false,"state_type":"str","x":270,"y":320,"wires":[[],[],["145514bc.69b2ab"],["145514bc.69b2ab"]]},{"id":"145514bc.69b2ab","type":"trigger","z":"fb3d7f7d.6aa83","op1":"","op2":"lock door","op1type":"nul","op2type":"str","duration":"${Delay}","extend":true,"units":"min","reset":"reset","bytopic":"all","name":"","x":780,"y":380,"wires":[["427d6ae0.685644"]]},{"id":"f6d26429.70ea38","type":"trigger-state","z":"fb3d7f7d.6aa83","name":"Door Sensor","server":"6c60af43.060d1","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"${DoorSensorEntityID}","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"0e4ai74gdtv","targetType":"entity_id","targetValue":"${AutoLockOverrideEntityID}","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"4esby18agv4","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"on"}],"outputinitially":false,"state_type":"str","x":250,"y":400,"wires":[[],[],["145514bc.69b2ab"]]},{"id":"bf218687.094d28","type":"trigger-state","z":"fb3d7f7d.6aa83","name":"AutoLock","server":"6c60af43.060d1","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"${AutoLockOverrideEntityID}","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"1hzw1cvo7s1","targetType":"entity_id","targetValue":"${LockEntityID}","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unlocked"}],"constraintsmustmatch":"all","outputs":4,"customoutputs":[{"outputId":"62gp6mgo2nx","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"on"},{"outputId":"gibbozjtlyn","messageType":"custom","messageValue":"{\"payload\":\"reset\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"off"}],"outputinitially":false,"state_type":"str","x":260,"y":520,"wires":[[],[],["145514bc.69b2ab"],["145514bc.69b2ab"]]},{"id":"fe797297.9f90f","type":"api-call-service","z":"fb3d7f7d.6aa83","name":"Lock Door","server":"6c60af43.060d1","version":1,"debugenabled":false,"service_domain":"lock","service":"lock","entityId":"${LockEntityID}","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1250,"y":380,"wires":[["9c28450a.8b93b8"]]},{"id":"d8b0778.df82a88","type":"change","z":"fb3d7f7d.6aa83","name":"Sucessfuly Locked","rules":[{"t":"set","p":"message","pt":"msg","to":"${DoorName} Auto Locked","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":380,"wires":[[]]},{"id":"427d6ae0.685644","type":"ha-wait-until","z":"fb3d7f7d.6aa83","name":"Wait for door to be closed","server":"6c60af43.060d1","outputs":2,"entityId":"${DoorSensorEntityID}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"1","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1010,"y":380,"wires":[["fe797297.9f90f"],["dc7c30a3.e4fc8"]],"outputLabels":["Door closed","Door left open"]},{"id":"9c28450a.8b93b8","type":"ha-wait-until","z":"fb3d7f7d.6aa83","name":"","server":"6c60af43.060d1","outputs":2,"entityId":"${LockEntityID}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"locked","valueType":"str","timeout":"30","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1420,"y":380,"wires":[["d8b0778.df82a88"],["238a0401.8df84c"]],"outputLabels":["Door Locked",""]},{"id":"238a0401.8df84c","type":"change","z":"fb3d7f7d.6aa83","name":"Failed to lock","rules":[{"t":"set","p":"message","pt":"msg","to":"${DoorName} Failed to Lock","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":440,"wires":[[]]},{"id":"dc7c30a3.e4fc8","type":"change","z":"fb3d7f7d.6aa83","name":"Door left open","rules":[{"t":"set","p":"message","pt":"msg","to":"${DoorName} Left Open","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":500,"wires":[[]]},{"id":"82305c8.6f318a","type":"status","z":"fb3d7f7d.6aa83","name":"","scope":["145514bc.69b2ab","9c28450a.8b93b8"],"x":740,"y":620,"wires":[[]]},{"id":"a4fb31ef.5b506","type":"trigger-state","z":"fb3d7f7d.6aa83","name":"Lock","server":"6c60af43.060d1","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"${LockEntityID}","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"dtx23fgd62","messageType":"custom","messageValue":"{\"payload\":\"reset\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"locked"}],"outputinitially":false,"state_type":"str","x":270,"y":240,"wires":[[],[],["145514bc.69b2ab"]]},{"id":"6c60af43.060d1","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"b8ca3f44.987f9","type":"subflow:fb3d7f7d.6aa83","z":"f78902bd.6a12","name":"","x":220,"y":660,"wires":[[],[]]}]
